.navbar-nav {
  margin-left: 50px;
  font-weight: bold;
}

.bg-img {
  background-image: url(./Img/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pepsi-nitro {
  display: flex;
  flex-direction: row;
  /* padding: 6vw 0; */

}

.pepsi-nitro-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.pepsi-nitro-child:first-of-type img {
  width: 27vw;

}

.pepsi-nitro-child:last-of-type img {
  width: 36vw;
}

.pepsi-nitro-child button {
  margin: 0 0 6vw 0px;

}

h2 {
  color: aliceblue !important;
  font-weight: bold !important;
}

/* .promotion.mm-002 .promotion__video-cta-ani-override,
        .promotion__video-cta-no-ani {
          font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: .875rem;
          z-index: 1;
          margin: 0;
        } */


/* .promotion.mm-002 .promotion__video-wrapper {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: 1rem
        } */
/* 
        .promotion.mm-002 .promotion__video {
          position: relative;
          height: initial;
          min-height: initial;
          position: relative;
          width: 100%;
          margin: initial;
        } */

/* .promotion.mm-002 .promotion__watch-now-container {
          position: absolute;
          text-align: center;
        }

        .promotion.mm-002 .promotion__video {
          cursor: default;
        }

        .promotion.mm-002 .promotion__video img {
          position: initial;
          top: initial;
          left: initial;
        } */

.better-with-pepsi-promo__video-container__video_title {
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #1437bf;
  line-height: 26px;
  display: inline-block;
  height: 40px;
}

.better-with-pepsi-promo__video-container__video_title span {
  font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.splide__list {
  list-style-type: none;
  /* margin: 0 0 0 -0.8125em; */

}
.space{
  margin-top: 50px;
}

/* end video container */

.better-with-pepsi-promo {
  position: relative;
  width: 100%;
  min-height: 177vw;
  max-height: 177vw;
}

.better-with-pepsi-promo__bg {
  background-image: url(./Img/burger\ better\ with\ pepsi.jpg);
  background-repeat: no-repeat;
  background-color: #265cc5;
  position: absolute;
  display: flex;
  /* top: 0; */
  background-position: right top;
  background-size: 65% 100%;
  height: 100vh;
  /* background-size: 283vw; */
  /* background-position: 65% 0; */
  width: 100%;
}

.better-with-pepsi-promo__tagline {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 7%;
}

.better-with-pepsi-promo__video-container {
  background: #265cc5;
  position: absolute;
  /* width: 100%; */
  /* bottom: 0; */
  padding: 1.5em 1.5em 1.5em 1.5em;
}



.splide__slide {
  margin: 100px;
  /* width: 100%; */
  /* height: auto; */
}

/* .splide__pagination {
  bottom: -1.8em !important;
}

.video-thumb-overlay-container {
  width: 100%;
} */