.navbar-nav {
  margin-left: 50px;
  font-weight: bold;
}

.bg-img {
  background-image: url(./Img/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pepsi-nitro {
  display: flex;
  flex-direction: row;
  /* padding: 6vw 0; */

}

.pepsi-nitro-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.pepsi-nitro-child:first-of-type img {
  width: 27vw;

}

.pepsi-nitro-child:last-of-type img {
  width: 36vw;
}

.pepsi-nitro-child button {
  margin: 0 0 6vw 0px;

}

h2 {
  color: aliceblue !important;
  font-weight: bold !important;
}

.better-with-pepsi-promo__video-container__video_title {
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #1437bf;
  line-height: 26px;
  display: inline-block;
  height: 40px;
}

.better-with-pepsi-promo__video-container__video_title span {
  font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.splide__list {
  list-style-type: none;

}
.space{
  margin-top: 50px;
}


.better-with-pepsi-promo__bg {
  background-image: url(./Img/burger\ better\ with\ pepsi.jpg);
  background-repeat: no-repeat;
  background-color: #265cc5;
  display: block;
  position: absolute;
  display: flex;
  /* top: 0; */
  background-position: right top;
  background-size: 65% 100%;
  height: 100vh;
  /* background-size: 283vw; */
  /* background-position: 65% 0; */
  width: 100%;
}

.better-with-pepsi-promo__tagline {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 7%;
}

.better-with-pepsi-promo__video-container {
  /* background: #265cc5; */
  position: absolute;
  /* width: 100%; */
  /* bottom: 0; */
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.bg-img-mango {
  background-image: url("./img/mango-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.pepsi-mango{
  /* position: absolute; */
  right: 0;
  width: 63%; 
}
.first-headline{
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 20%;
}


  /* height: 667px; */
  /* background: #2c629d url(./Img/mango-bg.jpg) no-repeat ;
  background-size: cover;
  width: 100%; */
  /* height: 100%; */
  /* display: flex;
  justify-content: center;
  display: block;
  position: absolute;
} */

/* .mango-pepsi {
  position: absolute;
  display: flex;
  flex-direction: column; */
  /* padding: 6vw 0; */

/* }

.mango-pepsi-child {
  display: flex;
  flex-direction: column;
  justify-content: center; */
  /* margin: 40px; */
/* } */

/* .bg-img-mango img {
  display: block;
} */

/* .pepsi-mango-container { */
  /* position: absolute; */
  /* display: flex; */
  /* width: 100%; */
  /* height: 100%; */
/* } */


/* .pepsi-mango-container .mango-absolutes {
  position: absolute;
} */

/* .pepsi-mango-container .headline {
  top: 7.5%;
  left: 6%;
  width: 64%;
} */

/* .pepsi-mango-container .tvc-thumb {
  width: 45%;
  left: 6.5%;
  top: 61vw;
  z-index: 99;
} */

/* .pepsi-mango-container .bottom-left {
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 82%;
} */

/* .pepsi-mango-container .bottom-right {
  bottom: 0;
  right: 0;
  width: 63%;
} */

/* .pepsi-mango-container .mango-one {
  top: 2%;
  right: 4%;
  width: 24%;
} */

/* .pepsi-mango-container .mango-two {
  margin-bottom: 63%;
  left: 5%;
  width: 24%;
  bottom: 0;
} */
